/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) and (max-width : 480px) {
.about p {
	padding-top: 30px;
	padding-bottom: 30px;
}
.dashboard .btn {
	width: 100%;
	margin: auto;
}
}/* End of Custom, iPhone Retina */ 
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 481px) and (max-width : 768px) {
.about p {
	padding-top: 30px;
	padding-bottom: 30px;
}
}
/* Small Devices, Tablets */
@media only screen and (min-width : 769px) and (max-width : 992px) {
.about p {
	padding-left: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.dashboard .btn {
	margin-left: 60px;
}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 993px) and (max-width : 1200px) {
.about p {
	padding: 60px;
}
.dashboard .btn {
	margin-left: 60px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1201px) {
.about p {
	padding: 60px;
}
.dashboard .btn {
	margin-left: 60px;
}
}