body {
	padding-bottom: 100px;
	background: url('../images/background.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.header {
	background-color: rgba(15,73,107, 0.8);
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(252, 174, 58, 0.5);
}
.login {
	padding-top: 80px;
}
.login .well {
	border: 2px solid #d3d3d3;
	border-radius: 0px;
	background-color: rgba(105,108,114,0.8);
	color: #d3d3d3;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 2em;
	font-family: 'Roboto', sans-serif;
}
.login .well input {
	font-size: 13px;
	border-radius: 0px;
}
.login .fa-user, .fa-lock {
	color: #134c6e;
}
.help .btn {
	background-color: #a9ddea !important;
	border: 1px solid #65848c !important;
	/*border-radius: 0px !important;*/
}
.help .btn:hover {
	color: #fff;
}
.signin .btn {
	background-color: #fcae3a !important;
	border: 1px solid #b07928 !important;
	/*border-radius: 0px !important;*/
	color: #fff !important;
}
.signin .btn:hover {
	color: #000 !important;
}
.description p {
	color: #cde5f4;
	font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
.footer-nav ul li {
	text-decoration: none;
	list-style: none;
	display: inline-block;
	padding-right: 20px;
}
.footer-nav ul li a {
	color: #757575;
	font-size: 12px;
	font-weight: bolder;
}
.footer-nav ul li a:hover {
	color: #000;
	text-decoration: none;
}
.footer-nav ul {
	padding: 0px;
}
.footer-nav {
	background-color: #fff;
	padding-top: 15px;
}
.social-icons {
	color: #757575;
}
.copyright p {
	color: #757575;
	font-size: 10px;
	padding-top: 3px;
}
.control-label {
	color: #fcae3a !important;
	font-weight: lighter;
	font-size: 12px;
}
.has-error .form-control, .has-error .input-group-addon{
  border-color: #fcae3a !important;
}
.has-error .input-group-addon {
	background-color: #fcae3a !important;
}
.dropdown-toggle  {
	background-color: transparent;
	border-color: transparent;
	color: #fcae3a;
	font-weight: bolder;
	padding-top: 15px;
}
.dropdown-menu i {
	padding-right: 5px;
}
.dropdown-menu li a {
	color: #757575 !important;
	font-size: 12px;
	font-weight: bold !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.dropdown-menu li a:hover {
	background-color: #fcae3a !important;
	color: #fff !important;
}
.about p {
	color: #cde5f4;
	font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: justify;
}
.dashboard .btn {
	background-color: #fcae3a !important;
	border: 1px solid #b07928 !important;
	/*border-radius: 0px !important;*/
	color: #fff !important;
}
.dashboard .btn:hover {
	color: #000 !important;
}
.app-image {
	padding-top: 30px;
	padding-left: 30px;
}
.navigation ul li {
	list-style: none;
	display: inline-block;
	padding-right: 30px;
}
.navigation ul li a {
	color: #f8f8f8;
	font-size: 16px;
	font-weight: bolder;
	padding-left: 5px;
	padding-right: 5px;
}
.navigation ul li a:hover {
	color: #fcae3a;
	text-decoration: none;
	border-bottom: 2px solid #fcae3a;
	padding-bottom: 10px;
}
.navigation ul {
	padding: 0px;
}
.navigation {
	padding-top: 25px;
}
.bar {
	background-color: rgba(255, 255, 255, 0.5);
	padding-top: 5px;
	padding-bottom: 5px;
}
.bar-image {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 5px;
	margin-top: 3px;
	margin-left: 10px;
}
.bar-text {
	font-weight: 700;
	vertical-align: -webkit-baseline-middle;
}
.add-user .btn {
	background-color: #fcae3a !important;
	border: 1px solid #b07928 !important;
	border-radius: 0px !important;
	color: #fff !important;
	margin-right: 15px;
	line-height: 2;
}
.add-user .btn:hover {
	color: #000 !important;
}
.modal-footer .btn {
	background-color: #fcae3a !important;
	border: 1px solid #b07928 !important;
	/*border-radius: 0px !important;*/
	color: #fff !important;
}
.modal-footer .btn:hover {
	color: #000 !important;
	vertical-align: -webkit-baseline-middle;
  }
.add-user .btn:hover {
	color: #000 !important;
  }
  /*admin_manage_users_v*/
  .transbox{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  /*background-color: #ffffff;
  border: 1px solid black;
  opacity:0.6;*/
}
table{
  width: 100%;
}
table#t01 tr:nth-child(even) {
  background-color: #D3DFE5;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  height: 56px;
}
table#t01 tr:nth-child(odd) {
 background-color:#FFFFFF;
 font-size: 14px;
 font-weight: 500;
 text-align: center;
 height: 56px;
}
table#t01 th  {
  background-color: #54789A;
  color: #d6dce4;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  height: 56px;
}
.user_firstname{
  color: #54789A;
}
.add-user .btn {
  border-radius: 0 !important;
  margin-right: 4px;
  vertical-align: middle;
  background-color: #fcae3a !important;
}
.add-user .btn:hover {
  color: #000 !important;
}
.styled-select select {
  background: #fff;
  width: 103px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 0;
  height: 30px;
  -webkit-appearance: none;
}
.styled-select {
 width: 240px;
 height: 34px;
 overflow: hidden;
 background: url(new_arrow.png) no-repeat right #ddd;
 border: 1px solid #ccc;*/
}
.fa-trash-o {
	margin-right: 5px;
}
.page {
	padding-left: 15px;
}
.transbox .form-group {
	margin-bottom: 0px !important;
}
.add-speciality {
	margin-left: 430px;
	color: #000;
}
.add-speciality .fa {
	color: #fcae3a;
}
.add-speciality:hover {
	text-decoration: none;
	color: #fcae3a;
}
.panel-footer .btn-submit {
	background-color: #fcae3a !important;
	border: 1px solid #b07928 !important;
	/*border-radius: 0px !important;*/
	color: #fff !important;
	margin-left: 5px;
}
.panel-footer .btn-submit:hover {
	color: #000 !important;
  }